TELEGRAM_BOT_TOKEN=8421330750:AAFqmjmoDeGpzJ9mA7OQw10u1665mfS1W08
TURSO_DB_URL=https://ybsdata-hidecatd.aws-ap-northeast-1.turso.io
TURSO_DB_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODM1NTg1MjcsImlkIjoiMDE5ZjQ0NWYtMjgwMS03NzliLWFhNGUtOTIxYmNlYzViMTRmIiwia2lkIjoiajFvZGNyeDFRS1hSLVVCWEpSQ3BJT3BwbHpPQ0VNY1gwc1A1ZXZhd1pFYyIsInJpZCI6IjUwMTIyZTIyLWFjNjYtNGM1My04NjYwLTVlMzJiMWE0ZjQyZCJ9.CjYCmb0fMh70U6AyLAcOGKXMn8PLiEqykyB2COGcxO6Bh6BYNsech1PtjuaKJC9zE4fzE8sIsKhoCab13PHSAQ
